[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for background smoke blue 1280 × 800 - flashlarevista.com 
Type=Link
URL=https://www.google.com/imgres?imgurl=http%3A%2F%2Fchainimage.com%2Fimages%2Faqua-blue-smoke-ring-wallpaper-smoke-desktop-wallpaper-blue.jpg&imgrefurl=http%3A%2F%2Fflashlarevista.com%2Fcontent%2F1600x900-aqua-blue-smoke.html&docid=c7Nw9k792G6U1M&tbnid=raD7APD5KkuNEM%3A&vet=12ahUKEwirhdSw-srZAhWrJsAKHVk4CSs4rAIQMyhfMF96BAgAEGM..i&w=1280&h=800&client=ubuntu&bih=673&biw=1301&q=background%20smoke%20blue&ved=2ahUKEwirhdSw-srZAhWrJsAKHVk4CSs4rAIQMyhfMF96BAgAEGM&iact=mrc&uact=8
Icon=text-html
